#menu{
    transition: 0.8s;
}

.form-switch{
    transform: scale(1.2);
}

.form-check .form-check-input {
    margin-left: 0;
}


#menu-title{
    text-decoration: none;
}



footer{
    background-color: #ECEFF1;
}

hr{
    width: 60px;
    background-color: #7c4dff;
    height: 2px
}

#copyright-div{
    background-color: rgba(0, 0, 0, 0.2);
}

